<html>
    <th:block xmlns:th="http://www.thymeleaf.org" th:fragment="corner">
        <div class="top">
        </div>
    </th:block>

    <th:block xmlns:th="http://www.thymeleaf.org" th:fragment="logo">
        <div class="top">
        </div>
    </th:block>

    <th:block xmlns:th="http://www.thymeleaf.org" th:fragment="sign">
        <div class="top">
            <ul>
                <li><a href="/login">LOGIN</a></li>
                <li><a href="/registration">REGISTRATION</a></li>
            </ul>
        </div>
    </th:block>
</html>