<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div>
        <div th:insert="~{fragments/top_fragment :: corner}" />
        <div th:insert="~{fragments/top_fragment :: logo}" />
        <div th:insert="~{fragments/top_fragment :: sign}" />
    </div>

    <div>
        <div th:insert="~{fragments/left_fragment :: menu}"></div>
        <div th:insert="~{fragments/workspase_fragment :: panel}"></div>
        <div th:insert="~{fragments/right_fragment :: data}"></div>
    </div>

    <div class="button" th:insert="~{fragments/bottom_fragment :: bottom}"></div>

</body>
</html>