<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<h1> Регистрация </h1>

<div>
    <div th:insert="~{fragments/top_fragment :: corner}" />
    <div th:insert="~{fragments/top_fragment :: logo}" />
    <div th:insert="~{fragments/top_fragment :: sign}" />
</div>

<div>
    <form action="/" th:object="${user}" method="POST" enctype="utf8">
        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}"/>
            <p th:each="error: ${#fields.errors('name')}"
               th:text="${error}">Validation error</p>
        </div>
        <div>
            <label>Email</label>
            <input type="text" th:field="*{email}"/>
            <p th:each="error : ${#fields.errors('email')}"
               th:text="${error}">Validation error</p>
        </div>
        <div>
            <label>Login</label>
            <input type="text" th:field="*{login}"/>
            <p th:each="error : ${#fields.errors('login')}"
               th:text="${error}">Validation error</p>
        </div>
        <div>
            <label>password</label>
            <input type="password" th:field="*{password}"/>
            <p th:each="error : ${#fields.errors('password')}"
               th:text="${error}">Validation error</p>
        </div>
        <div>
            <label>confirm</label>
            <input type="password" th:field="*{passwordConfim}"/>
        </div>
        <button>send</button>
    </form>
</div>

<div class="button" th:insert="~{fragments/bottom_fragment :: bottom}"></div>
</body>
</html>